python-Levenshtein==0.27.1
twitchio==2.10.0
howlongtobeatpy==1.0.18
python-steam-api==2.2.1
google-api-python-client==2.186.0
gspread==6.2.1
requests==2.32.5
python-telegram-bot==22.5
beautifulsoup4==4.14.2